@using Entities.ViewModel.OnlineSinav
@model List<Sinavindex>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sayac = 1;
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-book bg-blue"></i>
                <div class="d-inline">
                    <h5>Online Sınavlar</h5>
                    <span>Başarı Ölçütleri</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="../index.html"><i class="ik ik-book"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Online Sınavlarım</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        sayac = 1;
        <div class="col-xl-4 col-md-6">
            <div class="card latest-update-card">
                <div class="card-header">
                    <h3>@item.Dersİsim</h3>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="ik ik-chevron-left action-toggle"></i></li>
                            <li><i class="ik ik-minus minimize-card"></i></li>
                            <li><i class="ik ik-x close-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <div class="scroll-widget">
                        <div class="latest-update-box">

                            @foreach (var seans in item.seanslar)
                            {
                                if (seans.Seansid == 0)
                                {
                                    <div class="row pb-30">
                                        <div class="col-auto text-right update-meta pr-0">
                                            <i class="b-primary update-icon ring"></i>
                                        </div>
                                        <div class="col pl-5">
                                            <a href="#!"><h6>Seans Bilgisi Bulunmamaktadır!</h6></a>
                                        </div>
                                    </div>

                                }
                                else { 
                                <div class="row pb-30">
                                    <div class="col-auto text-right update-meta pr-0">
                                        <i class="b-primary update-icon ring"></i>
                                    </div>
                                    <div class="col pl-5">
                                        <a href="#!"><h6>Seans @sayac</h6></a>
                                        <p class="text-muted mb-0">@seans.SeansAdi <a href="@Url.Action("Sorular",new {id=seans.Seansid})" class="text-blue">Soruları Gör!</a></p>
                                    </div>
                                </div>
                                    sayac++;
                                }
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts
{

    <script type="text/javascript">

        $(document).ready(function () {

          



});



    </script>

}
