
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-book bg-blue"></i>
                <div class="d-inline">
                    <h5>Programlarım</h5>
                    <span>Sinif ici Ders Programları</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="../index.html"><i class="ik ik-book"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#"> Egitmen</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Programlarım</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
           <div class="col-md-6">
            <div class="card" style="min-height: 412px;">
                <div class="card task-board">
                    <div class="card-header">
                        <h3>Tamamlanan Eğitimlerim</h3>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="ik ik-chevron-left action-toggle"></i></li>
                                <li><i class="ik ik-minus minimize-card"></i></li>
                                <li><i class="ik ik-x close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body todo-task">
                        <div class="dd" data-plugin="nestable">
                            <ol class="dd-list">
                                <li class="dd-item" data-id="1">
                                    <div class="dd-handle">
                                        <span></span>
                                        <div class="task-details">
                                            <p class="date">
                                                <small class="text-primary">Tamamlandı</small> - 14 gün önce
                                            </p>
                                            <p>İş Güvenliği ve Sağlığı Dersi    (1. Seans)</p>

                                            <small> 17.05.2020 , 15:00</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="dd-item" data-id="2">
                                    <div class="dd-handle">
                                        <span></span>
                                        <div class="task-details">
                                            <p class="date">
                                                <small class="text-primary">Tamamlandı</small> - 12 gün önce
                                            </p>
                                            <p>İş Güvenliği ve Sağlığı Dersi    (2. Seans)</p>

                                            <small> 19.05.2020 , 15:00</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="dd-item" data-id="3">
                                    <div class="dd-handle">
                                        <span></span>
                                        <div class="task-details">
                                            <p class="date">
                                                <small class="text-primary">Tamamlandı</small> - 10 gün önce
                                            </p>
                                            <p>Networking/İlişki Yönetimi Dersi    (3. Seans)</p>

                                            <small> 21.05.2020 , 09:00</small>
                                        </div>
                                    </div>
                                </li>

                                <li class="dd-item" data-id="4">
                                    <div class="dd-handle">
                                        <span></span>
                                        <div class="task-details">
                                            <p class="date">
                                                <small class="text-primary">Tamamlandı</small> - 6 gün önce
                                            </p>
                                            <p>Networking/İlişki Yönetimi Dersi    (5. Seans)</p>
                                            <small> 25.05.2020 , 13:00</small>
                                        </div>
                                    </div>
                                </li>

                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
 
    <div class="col-md-6">
        <div class="card" style="min-height: 412px;">
            <div class="card task-board">
                <div class="card-header">
                    <h3>Gelecek Eğitimlerim</h3>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="ik ik-chevron-left action-toggle"></i></li>
                            <li><i class="ik ik-minus minimize-card"></i></li>
                            <li><i class="ik ik-x close-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body todo-task">
                    <div class="dd" data-plugin="nestable">
                        <ol class="dd-list">
                            <li class="dd-item" data-id="1">
                                <div class="dd-handle">
                                    <span></span>
                                    <div class="task-details">
                                        <p class="date">
                                            <small class="text-primary">Gelecek</small> - 10 gün kaldı
                                        </p>
                                        <p>Etkili Takım Çalışması Eğitimi    (1. Seans)</p>
                                        <p>Adres : Topçu Asım Mahallasi Sakarya cad. No:22/4 (Ekinler Endüstri Eğitim Salonu) </p>
                                        <small> 10.06.2020 , 15:00</small>
                                    </div>
                                </div>
                            </li>
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle">
                                    <span></span>
                                    <div class="task-details">
                                        <p class="date">
                                            <small class="text-primary">Gelecek</small> - 17 gün kaldı
                                        </p>
                                        <p>Etkili Takım Çalışması Eğitimi    (2. Seans)</p>
                                        <p>Adres : Topçu Asım Mahallasi Sakarya cad. No:22/4 (Ekinler Endüstri Eğitim Salonu) </p>
                                        <small> 17.06.2020 , 15:00</small>
                                    </div>
                                </div>
                            </li>
                            <li class="dd-item" data-id="3">
                                <div class="dd-handle">
                                    <span></span>
                                    <div class="task-details">
                                        <p class="date">
                                            <small class="text-primary">Gelecek</small> - 24 gün kaldı
                                        </p>
                                        <p>Etkili Takım Çalışması Eğitimi    (3. Seans)</p>
                                        <p>Adres : Topçu Asım Mahallasi Sakarya cad. No:22/4 (Ekinler Endüstri Eğitim Salonu) </p>
                                        <small> 24.06.2020 , 15:00</small>
                                    </div>
                                </div>
                            </li>

                            <li class="dd-item" data-id="4">
                                <div class="dd-handle">
                                    <span></span>
                                    <div class="task-details">
                                        <p class="date">
                                            <small class="text-primary">Gelecek</small> - 26 gün kaldı
                                        </p>
                                        <p>Fonetik Diksiyon Dersi    (1. Seans)</p>
                                        <p>Adres : Cumhuriyet Mahallasi 1102 sokak No:28/2  </p>
                                        <small> 26.06.2020 , 09:00</small>
                                    </div>
                                </div>
                            </li>

                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


