
@{
    ViewBag.Title = "TumDersler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-4 col-md-6">
        <a href="#">
            <div class="card analytic-card card-blue">
                <div class="card-body">
                    <div class="row align-items-center mb-30">
                        <div class="col-auto">
                            <i class="fas fa-book text-blue f-18 analytic-icon"></i>
                        </div>
                        <div class="col text-right">
                            <h3 class="mb-5 text-white">Ders Adı </h3>
                            <h6 class="mb-0 text-white">Eğitmen Adı</h6>
                        </div>
                    </div>
                    <p class="mb-0  text-white d-inline-block">Katılımcı Sayısı : </p>
                    <h5 class=" text-white d-inline-block mb-0 ml-10">112</h5>

                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-4 col-md-6">
        <a href="#">
            <div class="card analytic-card card-blue">
                <div class="card-body">
                    <div class="row align-items-center mb-30">
                        <div class="col-auto">
                            <i class="fas fa-book text-blue f-18 analytic-icon"></i>
                        </div>
                        <div class="col text-right">
                            <h3 class="mb-5 text-white">Ders Adı </h3>
                            <h6 class="mb-0 text-white">Eğitmen Adı</h6>
                        </div>
                    </div>
                    <p class="mb-0  text-white d-inline-block">Katılımcı Sayısı : </p>
                    <h5 class=" text-white d-inline-block mb-0 ml-10">112</h5>

                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-4 col-md-6">
        <a href="#">
            <div class="card analytic-card card-blue">
                <div class="card-body">
                    <div class="row align-items-center mb-30">
                        <div class="col-auto">
                            <i class="fas fa-book text-blue f-18 analytic-icon"></i>
                        </div>
                        <div class="col text-right">
                            <h3 class="mb-5 text-white">Ders Adı </h3>
                            <h6 class="mb-0 text-white">Eğitmen Adı</h6>
                        </div>
                    </div>
                    <p class="mb-0  text-white d-inline-block">Katılımcı Sayısı : </p>
                    <h5 class=" text-white d-inline-block mb-0 ml-10">112</h5>

                </div>
            </div>
        </a>
    </div>

</div>