
@{
    ViewBag.Title = "DersBilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="card">
        <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-timeline-tab" data-toggle="pill" href="#current-month" role="tab" aria-controls="pills-timeline" aria-selected="true">Online Ders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#last-month" role="tab" aria-controls="pills-profile" aria-selected="false">Sınıf İçi Ders</a>
            </li>

        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="current-month" role="tabpanel" aria-labelledby="pills-timeline-tab">
                <div class="card-body">
                    <div class="row">
                        <div class="card latest-update-card">
                            <div class="card-header">
                                <h3>İş Sağlığı Ve Güvenliği</h3>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li><i class="ik ik-chevron-left action-toggle"></i></li>
                                        <li><i class="ik ik-minus minimize-card"></i></li>
                                        <li><i class="ik ik-x close-card"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="scroll-widget">
                                    <div class="latest-update-box">
                                        <div class="row pt-20 pb-30">
                                            <div class="col-auto text-right update-meta pr-0">
                                                <i class="ik ik-check fw-600 bg-green update-icon"></i>
                                            </div>
                                            <div class="col pl-5">
                                                <a href="#!"><h6>Ders Oluşturuldu.</h6></a>
                                                <p class="text-muted mb-0">Ali Kaya</p>
                                            </div>
                                        </div>
                                        <div class="row pb-30">
                                            <div class="col-auto text-right update-meta pr-0">
                                                <i class="ik ik-briefcase bg-red update-icon"></i>
                                            </div>
                                            <div class="col pl-5">
                                                <a href="#!"><h6>3 Yeni Seans Eklendi.</h6></a>
                                                <p class="text-muted mb-0">Ali Kaya</p>
                                            </div>
                                        </div>
                                        <div class="row pb-30">
                                            <div class="col-auto text-right update-meta pr-0">
                                                <i class="ik ik-check fw-600 bg-green update-icon"></i>
                                            </div>
                                            <div class="col pl-5">
                                                <a href="#!"><h6>3 Seans Tamamlandı.</h6></a>
                                                <p class="text-muted mb-0">Yağmur</p>
                                            </div>
                                        </div>
                                        <div class="row pb-30">
                                            <div class="col-auto text-right update-meta pr-0">
                                                <i class="ik ik-briefcase bg-red update-icon"></i>
                                            </div>
                                            <div class="col pl-5">
                                                <a href="#!"><h6>1 Yeni Seans Eklendi.</h6></a>
                                                <p class="text-muted mb-0">Ali Kaya</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-auto text-right update-meta pr-0">
                                                <i class="ik ik-award fw-600 bg-yellow update-icon"></i>
                                            </div>
                                            <div class="col pl-5">
                                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">Derse Devam et</button>
                                            </div>
                                        </div>

                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalCenterLabel">Modal title</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/nadBn1oVu0g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="last-month" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="card-body">
                    <h4 class="mt-30">Ders Bilgileri</h4>
                    <hr>
                    <div class="row">

                        <div class="col-md-3 col-6">
                            <strong>Eğitmen Adı</strong>
                            <br>
                            <p class="text-muted">Johnathan Deo</p>
                        </div>
                        <div class="col-md-3 col-6">
                            <strong>Tarih</strong>
                            <br>
                            <p class="text-muted">05.08.2020</p>
                        </div>
                        <div class="col-md-3 col-6">
                            <strong>Email</strong>
                            <br>
                            <p class="text-muted">johnathan@admin.com</p>
                        </div>
                        <div class="col-md-3 col-6">
                            <strong>Adres</strong>
                            <br>
                            <p class="text-muted">Yunusemre Mah.234 sok. Kale kongre merkezi</p>
                        </div>
                    </div>
                    <h4 class="mt-30">Ders İçerik</h4>
                    <hr>
                    <p class="mt-30">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                    <h4 class="mt-30">Ders Dökümanı</h4>
                    <hr>
                    <a href="https://www.computerhope.com/example.zip">Example file</a>
                </div>
            </div>

        </div>
    </div>
</div>
