
@{
    ViewBag.Title = "OnlineDers";
    Layout = "~/Views/Shared/calisanLayout.cshtml";
}
<div class="row">
    <div class="card latest-update-card">
        <div class="card-header">
            <h3>Teknik Resim</h3>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="ik ik-chevron-left action-toggle"></i></li>
                    <li><i class="ik ik-minus minimize-card"></i></li>
                    <li><i class="ik ik-x close-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block">
            <div class="scroll-widget">
                <div class="latest-update-box">
                    <div class="row pt-20 pb-30">
                        <div class="col-auto text-right update-meta pr-0">
                            <i class="ik ik-check fw-600 bg-green update-icon"></i>
                        </div>
                        <div class="col pl-5">
                            <a href="#!"><h6>Ders Oluşturuldu.</h6></a>

                            <p class="text-muted mb-0">Ali Kaya</p>

                        </div>
                    </div>
                    <div class="row pb-30">
                        <div class="col-auto text-right update-meta pr-0">
                            <i class="ik ik-briefcase bg-red update-icon"></i>
                        </div>
                        <div class="col pl-5">
                            <div class="row">
                                <div class="col-2">
                                    <a href="#!"><h6>1. Seans Eklendi.</h6></a>
                                </div>

                                <button type="button" class="btn btn-success ml-5" data-toggle="modal" data-target="#exampleModalCenter">Dersi İzle</button>
                                <button type="button" class="btn btn-success ml-5" data-toggle="modal" data-target="#exampleModalLong">Sınava Gir</button>
                            </div>
                            <p class="text-muted mb-0">Ali Kaya</p>
                        </div>
                    </div>

                    <div class="row pb-30">
                        <div class="col-auto text-right update-meta pr-0">
                            <i class="ik ik-briefcase bg-red update-icon"></i>
                        </div>
                        <div class="col pl-5">
                            <div class="row">
                                <div class="col-2">
                                    <a href="#!"><h6>2.Seans Eklendi.</h6></a>
                                </div>

                                <button type="button" class="btn btn-success ml-5" data-toggle="modal" data-target="#exampleModalCenter">Dersi İzle</button>
                                <button type="button" class="btn btn-success ml-5" data-toggle="modal" data-target="#exampleModalLong">Sınava Gir</button>
                            </div>
                            <p class="text-muted mb-0">Ali Kaya</p>
                        </div>
                    </div>



                    <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterLabel">Video</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="450" height="315" src="https://www.youtube.com/embed/nadBn1oVu0g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Bitir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongLabel">Seans Sınavı</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class=" col soru ">
                                        <div class="row">
                                            <b>Soru 1:</b>
                                        </div>
                                        <p>Türkiye'nin başkenti hangi şehirdir?</p>
                                        <div class="seceenekler">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
                                                <label class="custom-control-label" for="defaultGroupExample1">Ankara</label>
                                            </div>

                                            <!-- Group of default radios - option 2 -->
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked>
                                                <label class="custom-control-label" for="defaultGroupExample2">Sivas</label>
                                            </div>

                                            <!-- Group of default radios - option 3 -->
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
                                                <label class="custom-control-label" for="defaultGroupExample3">İstanbul</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="defaultGroupExample12" name="groupOfDefaultRadios">
                                                <label class="custom-control-label" for="defaultGroupExample12">Muş</label>
                                            </div>

                                        </div>
                                        <br />
                                    </div>
                                    <div class=" col soru ">
                                        <div class="row">
                                            <b>Soru 1:</b>
                                        </div>
                                        <p>Alfabemizin ilk harfi nedir?</p>
                                        <div class="seceenekler">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="defaultGroupExample4" name="groupOfDefaultRadios">
                                                <label class="custom-control-label" for="defaultGroupExample4">z</label>
                                            </div>

                                            <!-- Group of default radios - option 2 -->
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="defaultGroupExample5" name="groupOfDefaultRadios" checked>
                                                <label class="custom-control-label" for="defaultGroupExample5">l</label>
                                            </div>

                                            <!-- Group of default radios - option 3 -->
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="defaultGroupExample6" name="groupOfDefaultRadios">
                                                <label class="custom-control-label" for="defaultGroupExample6">o</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="defaultGroupExample6" name="groupOfDefaultRadios">
                                                <label class="custom-control-label" for="defaultGroupExample6">a</label>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
               
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success">Sınavı Bitir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>